<h1>{{title}}</h1>
<form (submit)="addNewExpense()">
  <div class="form-group mt-3">
    <label for="name">نوع المصروف</label>
    <select class="form-control"  [(ngModel)]="newExpense.expenseTypeId" required id="expenseTypeId" name="expenseTypeId">
        @for(cat of expenseTypes;track cat.id)
        {
            <option [value]="cat.id">{{cat.name}}</option>
        }
    </select>
  </div>
  <div class="form-group mt-3">
    <label for="name">المبلغ</label>
    <input type="number" min="0" [(ngModel)]="newExpense.amount" required class="form-control" id="amount" name="amount">
  </div>
  <div class="form-group mt-3">
    <label for="name">التاريخ</label>
    <input type="date" [(ngModel)]="newExpense.date" required class="form-control" id="date" name="date">
  </div>
  <div class="form-group mt-3">
    <label for="name">الموظف</label>
    <select class="form-control"  [(ngModel)]="newExpense.empId" required id="empId" name="empId">
        @for(cat of users;track cat.id)
        {
            <option [value]="cat.id">{{cat.name}}</option>
        }
    </select>
  </div>
  <div class="form-group mt-3">
    <label for="name">الخزنة</label>
    <select class="form-control"  [(ngModel)]="newExpense.moneySafeId" required id="moneySafeId" name="moneySafeId">
        @for(cat of moneysafes;track cat.id)
        {
            <option [value]="cat.id">{{cat.name}}</option>
        }
    </select>
  </div>
  <div class="form-group mt-3">
    <label for="name">الملاحظات</label>
    <input type="text" [(ngModel)]="newExpense.notes"  class="form-control" id="notes" name="notes">
  </div>
  <button type="submit" class="btn btn-success mt-3">{{btnTxt}}</button>

  <button (click)="gotoExpensesPage()" class="btn btn-secondary mt-3 mx-3">العودة</button>
</form>