<div class="card">
    <div class="card-header">
        <h2 style="float:right;">{{ pageTitle }} </h2>
        <button (click)="NewLoan()" class="btn btn-primary mt-3 mx-3 " style="float:left; margin:0 !important;">اضافة
            سلفة جديد</button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">الموظف:</div>
            <div class="col-md-4">
                <select class="form-control" [(ngModel)]="selectedEmpId" (change)="getAllLoans()">
                    <option [value]="0">الكل</option>
                    @for(cat of Emps;track cat.id)
                    {
                    <option [value]="cat.id">{{cat.name}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2">من تاريخ:</div>
            <div class="col-md-4">
                <input type="date" class="form-control" [(ngModel)]="fromDate" (change)="getAllLoans()" />
            </div>
            <div class="col-md-2">الي تاريخ:</div>
            <div class="col-md-4">
                <input type="date" class="form-control" [(ngModel)]="toDate" (change)="getAllLoans()" />
            </div>
        </div>
        <div class="row mt-3">

        </div>
        <div class="table-responsive mt-4">
            <table class="table" *ngIf="loans.length">
                <thead>
                    <tr>
                        <th>التاريخ</th>
                        <th>المبلغ</th>
                        <th>الموظف</th>
                        <th>الخزنة</th>
                        <th>الملاحظات</th>
                        <th>المدخل</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let loan of filteredLoans">
                        <td>{{ loan.date | date:'medium'}}</td>
                        <td>{{ loan.amount }}</td>
                        <td>{{ loan.emp }}</td>
                        <td>{{ loan.moneySafe }}</td>
                        <td>{{ loan.notes }}</td>
                        <td>{{ loan.applicationUser }}</td>
                        <td style="display: flex;">
                            <button (click)="EditLoan(loan.id)" class="btn btn-primary"
                                style="margin:0 0.5rem !important;">
                                تعديل
                            </button>
                            <button (click)="DeleteLoan(loan)" class="btn btn-danger"
                                style="margin:0 !important;">
                                حذف
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>