<div class="card">
    <div class="card-header">
        <h2 style="float:right;">{{ pageTitle }} </h2>
        <button (click)="NewMoneysafe()" class="btn btn-primary mt-3 mx-3 " 
        style="float:left; margin:0 !important;">اضافة خزنة جديد</button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">بحث:</div>
        <div class="col-md-4">
          <input type="text" class="form-control" [(ngModel)]="filterText" />
        </div>
      </div>
      
      <div class="table-responsive mt-4">
        <table class="table" *ngIf="moneysafes.length">
          <thead>
            <tr>
              <th>اسم الخزنة</th>
              <th>الرصيد الافتتاحي</th>
              <th>الرصيد الحالي</th>
              <th>المسئول</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let moneysafe of filteredMoneysafes">
              <td>{{ moneysafe.name }}</td>
              <td>{{ moneysafe.openingBalance }}</td>
              <td>{{ moneysafe.currentBalance }}</td>
              <td>{{ moneysafe.applicationUser }}</td>
              <td>
                <button
                  (click)="EditMoneysafe(moneysafe.id)"
                  class="btn btn-primary"
                  style="margin:0 0.5rem !important;"
                >
                  تعديل
                </button>
                <button
                  (click)="MoneysafeBalance(moneysafe.id)"
                  class="btn btn-secondary"
                  style="margin:0 0.5rem !important;"
                >
                  كشف حساب
                </button>
                <button
                  (click)="DeleteMoneysafe(moneysafe)"
                  class="btn btn-danger"
                  style="margin:0 !important;"
                >
                  حذف
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  