<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 divcard">
            <h1 class="text-center login-title">تسجيل حساب جديد</h1>
            <div class="account-wall">
                <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="name" class="form-label">الاسم كامل</label>
                        <input type="text" class="form-control" name="name" id="name" formControlName="name"
                            aria-describedby="NameHelp">
                        @if(name?.touched && name?.invalid)
                        {
                                <div class="text-danger">
                                    @if(name?.errors?.['required'])
                                    {
                                        <p>ادخل اسمك كامل</p>
                                    }
                                </div>
                        }
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">رقم الهاتف</label>
                        <input type="text" class="form-control" name="phone" id="phone" formControlName="phone"
                            aria-describedby="PhoneHelp" numbersOnly> 
                            @if(phone?.touched && phone?.invalid && phone?.dirty)
                            {
                                <div class="text-danger">
                                    @if(phone?.errors?.['required'])
                                    {
                                        <p>ادخل رقم الهاتف</p>
                                    }
                                    @if(phone?.errors?.['pattern'])
                                    {
                                        <p>رقم الهاتف غير صحيح</p>
                                    }
                                </div>
                            }
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">البريد الالكتروني</label>
                        <input type="email" class="form-control" name="email" id="email" formControlName="email"
                            aria-describedby="emailHelp">
                            @if(email?.touched && email?.invalid)
                            {
                                <div class="text-danger">
                                    @if(email?.errors?.['required'])
                                    {
                                        <p>ادخل البريد الالكتروني</p>
                                    }
                                    @if(email?.errors?.['pattern'])
                                    {
                                        <p>البريد الالكتروني غير صحيح</p>
                                    }
                                </div>
                            }
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">كلمة المرور</label>
                        <input type="password" class="form-control" name="password" id="password"
                            formControlName="password">
                            @if(password?.touched && password?.invalid)
                            {
                                <div class="text-danger">
                                    @if(password?.errors?.['required'])
                                    {
                                        <p>ادخل كلمة المرور</p>
                                    }
                                </div>
                            }
                    </div>
                    <div class="mb-3">
                        <label for="cpassword" class="form-label">تأكيد كلمة المرور</label>
                        <input type="password" class="form-control" name="cpassword" id="cpassword"
                            formControlName="cpassword">
                            @if(cpassword?.touched && cpassword?.invalid)
                            {
                                <div class="text-danger">
                                    <p>كلمة المرور غير متطابقة</p>
                                </div>
                            }
                    </div>

                    <button type="submit" [disabled]="userRegisterForm.invalid"
                        class="btn btn-lg btn-primary btn-block lgnBtn">تسجيل</button>
                </form>
            </div>
            <a class="text-center new-account" style="cursor: pointer;" (click)="Login()">تسجيل الدخول </a>
        </div>
    </div>
</div>