<h1>{{title}}</h1>
<form (submit)="addNewMoneysafe()">
  <div class="form-group mt-3">
    <label for="name">اسم الخزنة</label>
    <input type="text" [(ngModel)]="newMoneysafe.name" required class="form-control" id="name" name="name">
  </div>
  <div class="form-group mt-3">
    <label for="name">الرصيد الافتتاحي</label>
    <input type="text" [(ngModel)]="newMoneysafe.openingBalance" required class="form-control" id="openingBalance" name="openingBalance">
  </div>
  <div class="form-group mt-3">
    <label for="name">المسئول</label>
    <!-- <input type="text" [(ngModel)]="newMoneysafe.applicationUserId" required class="form-control" id="applicationUserId" name="applicationUserId"> -->
    <select class="form-control"  [(ngModel)]="newMoneysafe.applicationUserId" required id="applicationUserId" name="applicationUserId">
        @for(cat of users;track cat.id)
        {
            <option [value]="cat.id">{{cat.userName}}</option>
        }
    </select>
  </div>

  <button type="submit" class="btn btn-success mt-3">{{btnTxt}}</button>

  <button (click)="gotoMoneysafesPage()" class="btn btn-secondary mt-3 mx-3">العودة</button>
</form>